bin/AndroidManifest.xml
bin/R.txt
bin/classes/android/support/v7/appcompat/R$anim.class
bin/classes/android/support/v7/appcompat/R$attr.class
bin/classes/android/support/v7/appcompat/R$bool.class
bin/classes/android/support/v7/appcompat/R$color.class
bin/classes/android/support/v7/appcompat/R$dimen.class
bin/classes/android/support/v7/appcompat/R$drawable.class
bin/classes/android/support/v7/appcompat/R$id.class
bin/classes/android/support/v7/appcompat/R$integer.class
bin/classes/android/support/v7/appcompat/R$layout.class
bin/classes/android/support/v7/appcompat/R$string.class
bin/classes/android/support/v7/appcompat/R$style.class
bin/classes/android/support/v7/appcompat/R$styleable.class
bin/classes/android/support/v7/appcompat/R.class
bin/classes/com/manorius/heartbeat/BuildConfig.class
bin/classes/com/manorius/heartbeat/MainActivity.class
bin/classes/com/manorius/heartbeat/R$anim.class
bin/classes/com/manorius/heartbeat/R$attr.class
bin/classes/com/manorius/heartbeat/R$bool.class
bin/classes/com/manorius/heartbeat/R$color.class
bin/classes/com/manorius/heartbeat/R$dimen.class
bin/classes/com/manorius/heartbeat/R$drawable.class
bin/classes/com/manorius/heartbeat/R$id.class
bin/classes/com/manorius/heartbeat/R$integer.class
bin/classes/com/manorius/heartbeat/R$layout.class
bin/classes/com/manorius/heartbeat/R$menu.class
bin/classes/com/manorius/heartbeat/R$string.class
bin/classes/com/manorius/heartbeat/R$style.class
bin/classes/com/manorius/heartbeat/R$styleable.class
bin/classes/com/manorius/heartbeat/R.class
gen/android/support/v7/appcompat/R.java
gen/com/manorius/heartbeat/BuildConfig.java
gen/com/manorius/heartbeat/R.java
